{% extends 'base.html.twig' %}

{% block tab_title %} {{ "login.title"|trans({}, 'interface')}} {% endblock %}

{% block body %}
<form class="user" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
             {{ 'login.connected_as'|trans({}, 'interface')}} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'login.logout'|trans({}, 'interface')}}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal"> {{ 'login.please_login'|trans({}, 'interface')}} </h1>
    <label for="inputEmail">{{ "email"|trans({}, 'form_labels') }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">{{ "password"|trans({}, 'form_labels') }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> {{ "remember_me"|trans({}, 'form_labels') }}
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        {{ "login"|trans({}, 'form_labels') }}
    </button>
</form>
<hr>
<div class="text-center">
    <a class="small" href="{{ path('app_forgot_password_request') }}">{{ 'login.forgot_password'|trans({}, 'interface')}}</a>
</div>
<div class="text-center">
    <a class="small" href="{{ path('app_register') }}">{{ 'login.create_account'|trans({}, 'interface')}}!</a>
</div>
{% endblock %}
