<h1>{{ 'registration.Hi! Please confirm your email!'|trans({}, 'interface') }}</h1>

<p>
    {{ 'registration.Please confirm your email address by clicking the following link:'|trans({}, 'interface') }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'registration.Confirm my Email'|trans({}, 'interface') }}</a>.
    {{ 'registration.This link will expire in {{ expiresAtMessageKey }}.'|trans({'{{ expiresAtMessageKey }}': expiresAtMessageKey|trans(expiresAtMessageData, 'interface')}, 'interface') }}
</p>

<p>
    {{ 'registration.Cheers!'|trans({}, 'interface') }}
</p>
