{% extends 'base.html.twig' %}

{% block tab_title %}{{ "reset_password.reset_title"|trans({}, 'interface') }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>{{ "reset_password.reset_title"|trans({}, 'interface') }}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {{ "reset_password.help_message"|trans({}, 'interface')|raw }}
            </small>
        </div>

        <button class="btn btn-primary mt-3">{{ "send"|trans({}, 'interface') }}</button>
    {{ form_end(requestForm) }}
{% endblock %}
