{% extends 'base.html.twig' %}

{% block tab_title %}{{ "reset_password.reset_title"|trans({}, 'interface') }}{% endblock %}

{% block body %}
    <h1>{{ "reset_password.reset_title"|trans({}, 'interface') }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ "reset"|trans({}, 'interface') }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
