{{ form_start(form) }}

    <div class="row justify-content-start gap-3">
        <div class="col-md-6"></div>
    </div>
    <div class="row justify-content-end gap-3">
        <div class="col-md-6 shadow p-2 rounded-3">
            {{ form_widget(form.client) }}
        </div>
    </div>

    <div class="card p-3 rounded-3 my-3">
        <legend> {{form_label(form.content)}} </legend>

        <div class="col">
            <div>
                {{ form_widget(form.content) }}
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" id="addContent" class="btn btn-primary"> <i class="fas fa-plus"></i> </button>
        </div>

    </div>

{{ form_row(form.additionalNote) }}

<div class="row justify-content-center gap-2">
    <div class="col-md-3">
        {{ form_row(form.totalPriceHT) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.vat) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.totalPrice) }}
    </div>
</div>

    <button class="btn btn-primary">{{ button_label|default("save"|trans({}, 'interface')) }}</button>
{{ form_end(form) }}
