{{ form_start(form) }}
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {{ "devis.form.author"|trans({}, 'interface') }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.author) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {{ "devis.form.client"|trans({}, 'interface') }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.client) }}
                </div>
            </div>
        </div>
    </div>

    <div class="card p-3 rounded-3 my-3">
        <legend> {{form_label(form.content)}} </legend>

        <div class="col">
            <div>
                {{ form_widget(form.content) }}
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <button type="button" id="addContent" class="btn btn-primary w-100"> <i class="fas fa-plus"></i> </button>
        </div>

    </div>

    <div class="card p-3 rounded-3">
        {{ form_row(form.additionalNote) }}

        <div class="row justify-content-center gap-2">
            <div class="col-md-3">
                {{ form_row(form.totalHT) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.totalTTC) }}
            </div>
        </div>
    <button class="btn btn-primary btn-lg mt-5">{{ button_label|default("save"|trans({}, 'interface')) }}</button>
    </div>

{{ form_end(form) }}
