{% extends 'admin_base.html.twig' %}

{% block title %}{{ "devis.edit.title"|trans({'%devis_reference%': devi.reference}, 'interface') }}{% endblock %}
{% block tab_title %}{{ "devis.edit.title"|trans({'%devis_reference%': devi.reference}, 'interface') }}{% endblock %}


{% block body %}
    {{ include('devis/_delete_form.html.twig') }}
    <div class="card bg-white shadow border-1 p-3">
        {{ include('devis/_form.html.twig') }}
    </div>
    <a class="btn btn-link" href="{{ path('app_devis_index') }}">
        <i class="fas fa-arrow-left"></i>
        {{ "devis.edit.back_to_list"|trans({}, 'interface') }}
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('devisForm') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('devisForm') }}
{% endblock %}