{% extends 'base.html.twig' %}

{% block title %}{{ "devis.index.title"|trans({}, 'interface') }}{% endblock %}
{% block tab_title %}{{ "devis.index.title"|trans({}, 'interface') }}{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('app_devis_new') }}">
        <i class="fas fa-plus"></i>
        {{ "devis.index.create_new"|trans({}, 'interface') }}
    </a>
    <div class="bg-white shadow border-1 p-3">
        <table class="table dataTable">
            <thead>
            <tr>
                <th>{{ "devis.index.table.header.reference"|trans({}, 'interface') }}</th>
                <th>{{ "devis.index.table.header.client"|trans({}, 'interface') }}</th>
                <th>{{ "devis.index.table.header.createdAt"|trans({}, 'interface') }}</th>
                <th>{{ "devis.index.table.header.totalTTC"|trans({}, 'interface') }}</th>
                <th>{{ "devis.index.table.header.actions"|trans({}, 'interface') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for devi in devis %}
                <tr>
                    <td>{{ devi.reference }}</td>
                    <td>{{ devi.client.name }}</td>
                    <td>{{ devi.createdAt ? devi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ devi.totalTTC }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_devis_edit', {'id': devis.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {{ "table.no_results"|trans({}, 'interface') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
