{% extends 'admin_base.html.twig' %}

{% block title %}{{ "devis.new.title"|trans({}, 'interface') }}{% endblock %}
{% block tab_title %}{{ "devis.new.title"|trans({}, 'interface') }}{% endblock %}

{% block body %}
    <div>
        {{ include('devis/_form.html.twig') }}
    </div>

    <a class="btn btn-link" href="{{ path('app_devis_index') }}">
        <i class="fas fa-arrow-left"></i>
        {{ "devis.new.back_to_list"|trans({}, 'interface') }}
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('devisForm') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('devisForm') }}
{% endblock %}
