{% extends 'base.html.twig' %}

{% block title %}{{ "devis.new.title"|trans({}, 'interface') }}{% endblock %}
{% block tab_title %}{{ "devis.new.title"|trans({}, 'interface') }}{% endblock %}

{% block body %}
    <div class="card bg-white shadow border-1 p-3">
        {{ include('devis/_form.html.twig') }}
    </div>

    <a class="btn btn-link float-end" href="{{ path('app_devis_index') }}">
        <i class="fas fa-arrow-left"></i>
        {{ "devis.new.back_to_list"|trans({}, 'interface') }}
    </a>
{% endblock %}
