{% extends 'base.html.twig' %}

{% block title %}{{ "client.index.title"|trans({}, 'interface') }}{% endblock %}
{% block tab_title %}{{ "client.index.title"|trans({}, 'interface') }}{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('app_client_new') }}">
        <i class="fas fa-plus"></i>
        {{ "client.index.create_new"|trans({}, 'interface') }}
    </a>

    <div class="bg-white shadow border-1 p-3">
        <table class="table dataTable">
            <thead>
            <tr>
                <th>{{ "client.index.table.header.name"|trans({}, 'interface') }}</th>
                <th>{{ "client.index.table.header.siret"|trans({}, 'interface') }}</th>
                <th>{{ "client.index.table.header.phone"|trans({}, 'interface') }}</th>
                <th>{{ "client.index.table.header.email"|trans({}, 'interface') }}</th>
                <th>{{ "client.index.table.header.address"|trans({}, 'interface') }}</th>
                <th>{{ "client.index.table.header.actions"|trans({}, 'interface') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.siret }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.address }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_client_edit', {'id': client.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <div
                    {{ "table.no_results"|trans({}, 'interface') }}
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
