<div{{ attributes }}>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link">
            <span class="brand-text font-weight-light">{{ "app_name"|trans({},'interface') }}</span>
        </a>
        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">{{ app.user ? app.user.name : ''}}</a>
                </div>
            </div>

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    {% for item in this.items %}
                        <li class="nav-item {{ item.active ? 'active' : ''}}">
                            <a class="nav-link" href="{{ path(item.routeName, item.routeParams) }}">
                                <i {% if item.icon %} class="{{ item.icon }}" {% endif %}></i>
                                <p>{{ item.title|trans({}, 'interface') }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </aside>
</div>
