<div{{ attributes }}>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link">
            <span class="brand-text font-weight-light">{{ "app_name"|trans({},'interface') }}</span>
        </a>
        <div class="sidebar position-relative">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">{{ app.user ? app.user.name : ''}}</a>
                </div>
            </div>

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    {% for item in this.items %}
                        <li class="nav-item">
                            <a class="nav-link {{ item.active ? 'active' : ''}}" href="{{ path(item.routeName, item.routeParams) }}">
                                <i {% if item.icon %} class="{{ item.icon }}" {% endif %}></i>
                                <p>{{ item.title|trans({}, 'interface') }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            {% if app.user %}
                <!-- Logout Button -->
                <div class="sidebar-footer position-fixed bottom-0 left-0" >
                    <a href="{{ path('app_logout') }}" class="btn btn-block">
                        <i class="fas fa-sign-out-alt mr-2"></i>{{ 'login.logout'|trans({}, 'interface') }}
                    </a>
                </div>
            {% endif %}
        </div>
    </aside>
</div>